<style>
        @import url(https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz);
        @import url(https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic);
        @import url(https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700,400italic);
    
        body { font-family: 'Droid Serif'; }
          h1, h2, h3 {
            font-family: 'Yanone Kaffeesatz';
            font-weight: normal;
          }
          .remark-code, .remark-inline-code { font-family: 'Ubuntu Mono'; }
    
        li {
          margin: 40px;
        }
        .footnote {
          position: absolute;
          bottom: 3em;
        }
    
         strong {
          color: #fa0000;
          font-weight: bold;
        }
    
        .large {
          font-size: 2em;
        }
            code {
          background: #e7e8e2;
          border-radius: 5px;
        }
    
        .remark-code,
        .remark-inline-code {
          font-family: 'Ubuntu Mono';
        }
    
        .remark-code-line-highlighted {
          background-color: #373832;
        }
    
        
        .inverse {
          background: #272822;
          color: #a9ac9e;
        }
    
        .inverse h1,
        .inverse h2 {
          color: #f3f3f3;
        }
    
        .boxed {
          margin: 0 auto;
          margin-top: 20px;
          padding: 10px;
          background: #272822;
          color: #a9ac9e;
          border: 1px solid #ccc;
          border-radius: 3px/6px;
          font-size: 30px;
          font-family: 'Ubuntu Mono';
        }
    
        .formula {
          font-size: 50px;
        }
    
        .big {
          font-size:200px;
        }
    
        .justify {
          text-align: justify;
        text-justify: inter-word;
        }
      </style>